[submodule "docs/_includes/samples/HelloWorld-using-CommonLibSSE-NG"]
	path = docs/_includes/samples/HelloWorld-using-CommonLibSSE-NG
	url = https://github.com/Skyrimdev/HelloWorld-using-CommonLibSSE-NG.git
